<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dashboard.html}">
<head>

</head>

<body>

    <section class="row" layout:fragment="content">
        <div class="col-6 offset-3 mt-4">
            <form th:action="@{/admin/categories/saveOrUpdate}" method="post" th:object="${category}">
                <div class="card">
                    <div class="card-header">
                        <h2>Add New Catgory</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
<!--                            <input type="hidden" th:field="*{isEdit}">-->
                            <label for="categoryId">Category ID:</label>

                            <input type="text" class="form-control" th:field="*{categoryId}"
                                   id="categoryId" aria-describedby="categoryHid"
                                   placeholder="Catgory ID" readonly>
                            <small
                                    th:if="${#fields.hasErrors('categoryId')}"
                                    id="categoryHid" class="form-text text-muted">Category id is required</small>

                            <label for="name">Name:</label>
                            <input type="text" class="form-control" th:field="*{name}"
                                   id="name" aria-describedby="nameHid"
                                   placeholder="name">
                            <small
                                    th:if="${#fields.hasErrors('name')}"
                                    id="nameHid" class="form-text text-muted">Name is required</small>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <a th:href="@{/admi/categories}" class="btn btn-success">List Category</a>
                        <button class="btn btn-secondary"><i class="fas fa-save"></i>
<!--                            <span th:if="${category.isEdit}">Update</span>-->
<!--                            <span th:unless="${category.isEdit}">Save</span>-->
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

</body>

</html>
